@using HsoPkipt.Identity
<nav class="__container">
    <a href="@Url.Action("Index", "Home")" class="horizontal-logo"></a>

    <button class="burger" id="burgerBtn" aria-label="Меню" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="center" id="navCenter">
        <a href="@Url.Action("News", "Home")" class="link">Новости</a>
        <div class="line"></div>
        <a href="@Url.Action("About", "Home")" class="link">О нас</a>
        <div class="line"></div>
        <a href="@Url.Action("Index", "Projects")" class="link">Наши проекты</a>
        <div class="line"></div>
        <a href="@Url.Action("Index", "Merch")" class="link">Мерч</a>
        <div class="line"></div>
        @if (User.Identity?.IsAuthenticated == true &&
             (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Moderator)))
        {
            <a href="@Url.Action("Index", "Admin")" class="link">Панель администратора</a>
        }
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Index", "Profile")" class="profile"></a>
    }
    else
    {
        <a href="@Url.Action("Login", "Auth")" class="login"></a>
    }
</nav>