@using HsoPkipt.ViewModels.News
@model NewsIndexVM

@{
  ViewData["Title"] = "О нас ";
}

<main class="project-page">
  <div class="project-container">
    <h2 class="project-title">Наши проекты</h2>

    <div class="project-grid" id="projectGrid">
      @* @if (Model.NewsItems.Any())
            {
                foreach (var news in Model.NewsItems)
                {
                    var hasTitle = !string.IsNullOrWhiteSpace(news.Title);
                    var hasDescription = !string.IsNullOrWhiteSpace(news.ShortDescription);
                    var hasImage = !string.IsNullOrWhiteSpace(news.ImageUrl);

                    var cardClass = "card-project";

                    if (!hasTitle && !hasDescription)
                    {
                        cardClass += " no-content";
                    }
                    else if (!hasImage)
                    {
                        cardClass += " no-image";
                    }

                    <div class="@cardClass" data-project-id="@news.Id">
                        <img src="@(hasImage? news.ImageUrl: Url.Content("~/assets/icon/err.no-image.svg"))"
                            alt="@(hasTitle? news.Title: "Проект")">
                        <div class="card-text-wrapper">
                            @if (hasTitle)
                            {
                                <p class="card-title">@news.Title</p>
                            }
                            @if (hasDescription)
                            {
                                <p class="card-description">@news.ShortDescription</p>
                            }
                        </div>
                    </div>
                }
            }
            else *@

      <div class="card-project not-load">
        <img src="~/assets/icon/err.no-load.svg" alt="">
        <div class="card-text-wrapper"></div>
      </div>
      <div class="card-project not-load">
        <img src="~/assets/icon/err.no-load.svg" alt="">
        <div class="card-text-wrapper"></div>
      </div>
    </div>
  </div>
</main>